* {
    margin: 0;
    padding: 0;
}

a {
    margin-right: 5px;
}

body {
    padding: 5px;
}

.exercise {
    width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

.exercise-green {
    background: #e1ffe1;
}

.exercise-red {
    background: #ffe1e1;
}
